{% extends 'base_layout.html'%}

{% block content %}

<div class="article-detail">
    <div class="article">
        <img width='100%' src="{{ article.thumb.url }}">
        <h2>{{ article.title }} 🏷️</h2>
        <p>{{ article.body }}</p>
        <p>{{ article.date }}</p>
        <p>Added by {{ article.author }}</p>
        {% if user.username|slugify == article.author|slugify %}
            <a href='{% url "articles:edit" article.slug %}'><button class='edit_article_button'>Edit Article</button></a>
        {% endif %}
        <hr>
        {% if comments|length >= 1 %}
            <p>List of all comments</p>
            <ul>
                {% for comment in comments %}
                    <li> {{ comment.author }} : {{ comment.message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if user.is_authenticated %}
            <form class='comment' action="{% url 'articles:slug' article.slug %}" method="post">
                {% csrf_token %}
                {{ form }}
                <button type="submit">OK</button>
            </form>
        {% else %}
            <div class="comment">
                <p>Please Login to Comment !!! 🔒</p>
            </div>
        {% endif %}
    </div>

</div>

{% endblock %}